* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 137, 150, 0.75),  rgba(0, 132, 172, 0.75)),  url("/media/Abstraction_binary_code_526437_1920x1080.jpg");
    display: grid;
    place-items: center;
}

#evbLogo {
    width: 150px;
    margin-bottom: 3rem;
}

.wrapper_credentials {
    border: 2px solid black;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.697);
    min-height: 500px;
    min-width: 450px;
    text-align: center;
    border-radius: 40px;
}

input {
    display: block;
    padding: 0.8rem;
    padding-left: 0.4rem;
    width: 100%;
    margin-bottom: 2rem;
}

label {
    color: white;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
    font-weight: bold;
}
#message {
    color: white;
    margin-bottom: 2rem;
}
#login {
    width: 200px;
    padding: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 1rem;
    background-color: rgba(0, 132, 172, 0.75) ;
    color: white;
    border: none;
}

#login:hover {
    background-color: rgb(97, 0, 0);
}